/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*---------- FONTS/TEXT ---------- */
/*---------- COLORS ---------- */
/*---------- BG IMAGE ---------- */
/*---------- MARGIN/PADDING ---------- */
/*---------- CONTAINER ---------- */
/*---------- TRANSITIONS ---------- */
/* line 1, ../sass/parts/_base.sass */
* {
  letter-spacing: 1.125px;
  font-size: 16px;
  box-sizing: border-box;
}

/* line 6, ../sass/parts/_base.sass */
body {
  line-height: 2em;
  background: #444;
  color: #d5d5d5;
}

/* line 11, ../sass/parts/_base.sass */
h1 {
  font-size: 2em;
}

/* line 13, ../sass/parts/_base.sass */
p {
  font-size: 1.25em;
}

/* line 16, ../sass/parts/_base.sass */
section {
  border-bottom: 1px solid #333;
}

/* line 19, ../sass/parts/_base.sass */
.intro-section {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background-image: url(../img/fred_1.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 29, ../sass/parts/_base.sass */
.about-section {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background-image: url(../img/car-1.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 39, ../sass/parts/_base.sass */
.services-section {
  min-height: 100%;
  padding-top: 150px;
  text-align: center;
  background-image: url(../img/white-black-car-1.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #333;
}

/* line 50, ../sass/parts/_base.sass */
.contact-section {
  margin-bottom: 100px;
  padding: 120px 0;
  text-align: center;
  background: #666;
}

/* line 57, ../sass/parts/_base.sass */
button {
  margin: 2em auto;
  padding: 0.5em 1em;
  color: #e7e7e7;
  background: #333;
  cursor: pointer;
  text-decoration: none !important;
}
/* line 63, ../sass/parts/_base.sass */
button:hover {
  color: #333;
  background: #e7e7e7;
}

/* line 1, ../sass/parts/_intro.sass */
.jsTop {
  padding: 3em auto;
}

/* line 4, ../sass/parts/_intro.sass */
.display-date-container {
  padding: 1em auto;
}
/* line 6, ../sass/parts/_intro.sass */
.display-date-container p {
  margin-bottom: 2em;
}

/* line 1, ../sass/parts/_about.sass */
.nav-pills-container {
  margin: 3em 5%;
  padding: 0;
  background: #444;
  color: #fff;
}
/* line 6, ../sass/parts/_about.sass */
.nav-pills-container ul {
  background: #c4c4c4;
}

/* line 9, ../sass/parts/_about.sass */
.tab-content {
  padding: 5px;
  background-image: url(../img/mother-board-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 15, ../sass/parts/_about.sass */
.tab-content h3 {
  margin: 1em 0;
  font-size: 1.5em;
}
/* line 18, ../sass/parts/_about.sass */
.tab-content p {
  margin: 2em 5%;
  background: #d5d5d5;
  color: #333;
  font-size: 1em;
}
/* line 23, ../sass/parts/_about.sass */
.tab-content .home-img-container {
  width: 70%;
  margin: 2em auto;
  padding: 0;
}
/* line 29, ../sass/parts/_about.sass */
.tab-content .home-img-container #fbCover1 {
  height: 25vh;
}
/* line 39, ../sass/parts/_about.sass */
.tab-content .home-img-container #fbCover2 {
  background-image: url(../img/facebook-cover-2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 45, ../sass/parts/_about.sass */
.tab-content .grid-menu2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10%;
  margin: 1em 5%;
}
/* line 51, ../sass/parts/_about.sass */
.tab-content .grid-menu2 .btn {
  background: #444;
  transition: 0.3s ease 0.05s;
}
/* line 54, ../sass/parts/_about.sass */
.tab-content .grid-menu2 .btn:hover {
  background: #d7d7d7;
}

/* line 58, ../sass/parts/_about.sass */
#myCarousel {
  margin: 20vh 5%;
}

/* line 1, ../sass/parts/_services.sass */
.services-container {
  padding: 10px;
}
/* line 3, ../sass/parts/_services.sass */
.services-container h1 {
  margin: 0 auto 2em;
}

/* line 6, ../sass/parts/_services.sass */
.modal-container {
  color: #333;
  background: #d6d6d6;
  border: 1px solid #000;
}
/* line 10, ../sass/parts/_services.sass */
.modal-container h2 {
  margin-top: 1em;
  font-size: 1.5em;
}
/* line 13, ../sass/parts/_services.sass */
.modal-container p {
  margin: 1em 5%;
}
/* line 15, ../sass/parts/_services.sass */
.modal-container button {
  margin: 1em auto;
  color: #e7e7e7;
  background: #333;
}
/* line 18, ../sass/parts/_services.sass */
.modal-container button:hover {
  color: #333;
  background: #e7e7e7;
}

/* line 21, ../sass/parts/_services.sass */
.modal-content {
  color: #333;
}
/* line 23, ../sass/parts/_services.sass */
.modal-content .modal-header {
  background: #444;
}
/* line 25, ../sass/parts/_services.sass */
.modal-content .modal-header .close {
  color: #fff !important;
}
/* line 27, ../sass/parts/_services.sass */
.modal-content .modal-header .modal-title {
  color: #e8e8e8 !important;
  font-size: 1.5em;
}
/* line 31, ../sass/parts/_services.sass */
.modal-content .modal-body p {
  width: 80%;
  margin: 1em auto;
  font-weight: 500;
}
/* line 35, ../sass/parts/_services.sass */
.modal-content .modal-footer {
  background: #444;
  height: 70px;
}
/* line 38, ../sass/parts/_services.sass */
.modal-content .modal-footer button {
  margin-top: 0;
}

/* line 42, ../sass/parts/_services.sass */
.modal-img-container img {
  width: 80%;
  margin: auto;
  box-shadow: 2px 2px 5px #333;
}

/* line 1, ../sass/parts/_contact.sass */
.contact-container {
  margin: 0 auto;
  padding: 10px;
  background-image: url(../img/wp-blue-ice.png);
  background-size: 25% auto;
  background-position: 95% 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 10, ../sass/parts/_contact.sass */
.contact-container h1 {
  margin-bottom: 100px;
  text-shadow: 1px 1px #333;
}
/* line 13, ../sass/parts/_contact.sass */
.contact-container #box1 {
  width: 400px;
  height: 300px;
  margin: 4em 0;
  color: #e7e7e7;
  background: #333;
  border: thick solid #e6e6e6;
  transition: 2s ease 0.05s;
}
/* line 21, ../sass/parts/_contact.sass */
.contact-container #btn1 {
  margin: 2em auto;
  padding: 0.5em 1em;
  color: #e6e6e6;
  background: #333;
  cursor: pointer;
  text-decoration: none !important;
}
/* line 28, ../sass/parts/_contact.sass */
.contact-container #btn1:hover {
  color: #333;
  background: #e7e7e7;
}

/* line 31, ../sass/parts/_contact.sass */
.light {
  width: 600px;
  border: thick solid #333;
  transform: scale(0.8);
}

/* line 36, ../sass/parts/_contact.sass */
.hello {
  margin-top: 3em;
}

/* line 39, ../sass/parts/_contact.sass */
#demo1,
#demo2 {
  color: #29de1a !important;
}

/* line 43, ../sass/parts/_contact.sass */
.img-container {
  width: 200px;
  height: 200px;
  margin: 1em auto;
}
/* line 47, ../sass/parts/_contact.sass */
.img-container #logo3 {
  width: 50px;
  height: 50px;
  transition: 1.2s ease 0.05s;
}
